name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint-typecheck-test-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Format check
        run: npm run format

      - name: Typecheck
        run: npm run typecheck

      - name: Build
        run: npm run build

      - name: "notify vercel"
        uses: "vercel/repository-dispatch/actions/status@v1"
        with:
          name: "Vercel - urban-tree: check-and-build"
